.jumbotron, 
.card, 
.container {
    background: url("../images/green_dust_scratch.png");
    padding: 15px;
}

.answers {
    margin-bottom: 20px;
}

.answers label {
    display: block;
}

body {
    background: url("../images/leaves-pattern.png");
    font-family: 'Acme', sans-serif;
    font-size: 20px;
}

hr {
    background-color: darkslategrey;
}

h1, h2, button, #results {
    font-family: 'Bangers', cursive;
}